<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        .btn-vertical {
            display: block;
            margin-bottom: 10px; /* Отступ между кнопками */
        }

        html, body {
            height: 100%;
        }

        .container-fluid {
            height: 100%;
            overflow-y: hidden;
        }

        .row-fluid {
            height: 100%;
            overflow-y: hidden;
        }

        .span9 {
            height: 100%;
            overflow-y: hidden;
            background-color: #f5f5f5;
        }
        .span8 {
            padding-left: 10px;
        }
    </style>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand"><span th:text="${user.email}"></span><span> with roles: </span><span
                    th:text="${#strings.arrayJoin(roles, ' ')}"></span></a>
            <div class="nav-collapse">
                <p class="navbar-text pull-right"><a href="/logout">LOGOUT</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <a class="btn btn-primary btn-large btn-vertical" href="/user">User</a>
            <a th:if="${roles.contains('ADMIN')}" class="btn btn-primary btn-large btn-vertical" href="/admin">Admin</a>
        </div><!--/span-->
        <div class="span9">
            <div class="span8">
            <h2>Admin Panel</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#users-table" data-toggle="tab">Users table</a></li>
                <li><a href="#new-user" data-toggle="tab">New User</a></li>
            </ul>
            <div class="tab-content">
                <!-- Вкладка "Users table" -->
                <div class="tab-pane active" id="users-table">
                    <h2>All users</h2>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Role</th>
                            <th>Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td>
                                <ul>
                                    <li th:each="role : ${roles}" th:text="${role}"></li>
                                </ul>
                            </td>
                            <td>
                                <a th:href="@{/admin/delete/{id}(id=${user.id})}"
                                   class="btn btn-danger btn-sm">Delete</a>
                                <a th:href="@{/admin/edit/{id}(id=${user.id})}"
                                   class="btn btn-primary btn-sm">Update</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="new-user">
                    <h3>Add new user</h3>
                    <form>
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="Enter age">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="custom-select" multiple id="Role">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>

                        </div>
                        <button type="submit" class="btn btn-primary">Add new user</button>
                    </form>
                </div>
            </div>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->

    <!-- Le javascript -->
    <script src="/js/jquery-1.7.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>