<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <title>Title</title>
</head>
<body>
<form th:unless="${user==null}" class="form-control-sm" method="get" action="/">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Home</button>
</form>
<form th:unless="${user==null}" class="form-control-sm" method="get" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
</form>

</body>
</html>