<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <title>Главная</title>
</head>
<body>
<h1>Добро пожаловать на главную страницу!</h1>
<form th:unless="${user!=null}" class="form-control-sm" method="get" action="/login">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
<form th:unless="${user==null}" class="form-control-sm" method="get" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Выйти</button>
</form>
<form th:unless="${user==null}" class="form-control-sm" method="get" action="/user">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Профиль</button>
</form>
</body>
</html>