<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <title>Профиль</title>
</head>
<body>
<div class="col-md-8 order-md-1">
    <h2 class="text-center">
        <span th:text="${user.username}"></span>, добро пожаловать в профиль!</h2>
    <form th:unless="${user==null}" class="form-control-sm" method="get" action="/">
        <button class="btn btn-lg btn-primary btn-block" type="submit">На главную</button>
    </form>
    <form th:unless="${user==null}" class="form-control-sm" method="get" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Выйти</button>
    </form>
    <div class="mb-3"><h4 class="text-center">Профиль <span th:text="${user.username}"></span></h4></div>
    <form class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <input type="text" th:class="form-control" id="username" th:field="*{user.username}" required readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" th:class="form-control" id="firstName" th:field="*{user.firstName}" required readonly>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" th:class="form-control" id="lastName" th:field="*{user.lastName}" required readonly>
            </div>
        </div>

        <div class="row">
        <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="text" th:class="form-control" id="email" th:field="*{user.email}" required readonly>
        </div>

        <div class="col-md-6 mb-3">
            <label for="age">Age</label>
            <input type="text" th:class="form-control" id="age" th:field="*{user.age}" required readonly>
        </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" th:class="custom-control-input" id="isenabled" th:field="*{user.enabled}" disabled>
            <label class="custom-control-label" for="isenabled">Enabled</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" th:class="custom-control-input" id="credentialsNonExpired" th:field="*{user.credentialsNonExpired}" disabled>
            <label class="custom-control-label" for="credentialsNonExpired">credentialsNonExpired</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" th:class="custom-control-input" id="accountNonExpired" th:field="*{user.accountNonExpired}" disabled readonly>
            <label class="custom-control-label" for="accountNonExpired">accountNonExpired</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" th:class="custom-control-input" id="accountNonLocked" th:field="*{user.accountNonLocked}" disabled readonly>
            <label class="custom-control-label" for="accountNonLocked">accountNonLocked</label>
        </div>
    </form>
</div>

</body>
</html>